.section-config{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    color: black;
    padding: 20px;
    border-radius: 4px;
    max-width: 250px;
}

.section-config .container-button{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0px;
}

.section-config h4{
    margin: 2px 0px 2px;
    font-size: 12px;
}

.section-config p{
    margin: 0px;
    font-size: 11px;
}