.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    width: auto;
    max-width: 600px;
    min-width: 320px;
    padding: 10px;
    box-sizing: border-box;
}

.container-loading{
    display: flex;
    width: 100%;
    height:auto;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: black;
}

.container table {
    font-size: 1.2rem;
    background-color: rgb(216, 213, 213);
    margin-top: 15px;
    border-spacing:  0px 0px;
    width: 100%;
}

.container table .asset_included{
    background-color: #acaca8;
 }


.container table tr td{
    box-sizing: border-box;
    padding: 5px;
}

.title {
    display: flex;
    width: 100%;
    font-size: 2rem;
    color: black;
    font-weight: 700;
}

.container .button-close:hover {
    background-color: red;
}

.table-header {
    display: table;
    padding: 10px;
    width: 550px;
    margin-top: 10px;
}

.table-header tr th{
    padding-right:15px;
}


.td-actions {
    width: 60px;
}

.td-actions div {
    display: flex;
    gap: 10px;
    height: 30px;
    justify-content: space-between;
}

.td-actions div button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.td-actions .button-delete {
    background-color: rgb(206, 12, 12);
}

.td-actions .button-add {
    background-color: green;
}

.td-actions .button-maintance {
    background-color: rgb(15, 15, 133);
}

.container-button {
    margin-top: 10px;
    display: flex;
    gap: 20px;
    width: 100%;
    height: fit-content;
}

.container-button-close{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.container-button-close .button-close{
    width: 10px;
}

.container-notification {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-weight: 600;
    font-size: 1.2rem;
    place-items: center;
    border-radius: 4px;
}

@media (max-width: 645px) {
    .visualizer .container {
        display: flex;
        width: 100%;
        padding: 10px;
    }

    .container .container-button{
        width: 100%;
        flex-direction: column;
        gap:5px;
    }

    table .table-header{
        width: 100%;
    }

    table .table-header .td-actions div{
        width: 100px;
        justify-content: center;
    }

    
    table .table-header .table-column-ns{
        display: none;
    }




}
