.container-responsive{
    display: flex;
    padding-top: 250px;
    height: auto;
    width: 100vw;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f3f3;
}


.loading-state {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000054;
  z-index: 4;
}

.container-notification {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-weight: 600;
  font-size: 1.2rem;
  place-items: center;
  border-radius: 4px;
  width:90%;
  max-width:500px;
}

@media (max-width: 600px) {
    
  .container-responsive{
    padding-top: 250px;
  }
}