.nav {
    display: flex;
    position:fixed;
    top:140px;
    height: 90px;
    width: 100%;
    align-items: center;
    background-color:#0071BB;
    flex-wrap: wrap;
    z-index: 3;
    margin: 0px;
    left: 0px;
}

.nav .section-buttons{
    display: flex;
    width:90%;
    margin: auto;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.nav .name-nav{
    margin-left: 20px;
}

.nav .docStore-button{
    width: 100px;
    height: 50px;
}

.nav .buttonPDF-container{
    display: flex;
    align-items: center;
    width: auto;
    height: 50px;
}

    
    @media (max-width: 807px) {
    
        .nav{
            width: 100%;
            justify-content: space-around;
            position: fixed;
            z-index: 2;
        }
    
    }
