.DocStoreCardInfoUser {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
    color: black;
    padding: 10px;
    font-size: 1rem;
    gap: 5px;
}

.DocStoreCardInfoUser p{
    font-weight: 700;
    margin: 0px;
}

