.ItemLicense {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(227, 227, 227);
    color: black;
}

.box-top{
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    padding-top:5px;
    font-weight: 700;
}

.box-middle{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.box-middle p{
    font-size: 10px;
    margin: 0px;
    padding-bottom: 5px;
}

.box-bottom{
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
    font-weight: 700;
}