.docStore{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(223, 220, 220);
    box-shadow: 5px 5px 20px rgb(54 54 54 / 20%);
    right: 0px;
    top: 0px;
    width: 280px;
    padding: 10px;
    height: 100vh;
    z-index: 2;
}

.button-container{
    display: flex;
    height: auto;
    width: 100%;
    gap: 10px;
    justify-content: flex-end;
    padding-bottom: 10px;
}

@media (max-width: 600px) {
    
    
  }