/* :root {
  font-family: 'Roboto' , sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 62.5%;
  box-sizing: border-box;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scrollbar-width: 0px;
  overflow-x: hidden;
}

:root::-webkit-scrollbar{
  display: none;
}


body:-webkit-scrollbar{
  display: none;
  width: none;
}
 */
