.h2{
  margin: 1px;
  font-size: 30px;
  color:black;
  font-weight: 500;
}

.h3{
  margin: 1px;
  font-size: 16px;
  color: gray;
  font-weight: 400;
  font-style: oblique;
}


.h4{
  margin: 1px;
  font-size: 14px;
  color: gray;
  font-weight: 400;
  font-style: oblique;
}

.span{
  margin: 0px;
  font-size: 14px;
  font-weight:400;
  color:black;
}

.th{
  margin: 1px;
  font-size: 16px;
  color: black;
  font-weight: 400;
}

.text{
  font-size: 0.9rem;
  color: rgb(62, 62, 62);
  line-height: 1.1rem;
  width:95%;

}

.title{
  color: black;
  font-weight: 500;
  font-size: 1.3rem;
  margin:0px;
}

.subtitle{
  color: black;
  font-weight: 500;
  font-size: 0.9rem;
  margin:0px;
}

.textIcon{
  font-size: 1rem;
  font-weight: 700;
  color:#0071bb;
  position: relative;
  right:12px;
  bottom: 15px;
  background-color: white;
  padding: 4px;
  border-radius: 100%;
  @media (max-width:1200px) {
    font-size: 12px;
  }
}

.navLink{
  display: flex;
  border-radius: 4px;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1rem;
  @media (max-width:900px) {
    font-size: 14px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
